<div class="col-lg-2 user-nav user_nav_pc  d-lg-block d-none">
  <ul>
    <li id="target1">
      <%= link_to "アカウント" , users_show_path(@user) %>
    </li>
    <li id="target2" class="active">
      <%= link_to "プロフィール" , edit_user_path(@user) %>
    </li>
  </ul>
</div>
