.device {
  padding-top: 36px;
  font-size: 16px;
}

div.actions {
  margin-bottom: 10px;
}

.device_frame {
  max-width: 600px;
  text-align: center;
  padding: 24px;
  margin: 0px auto;
  background-color: white;
  border-radius: 4px;
  box-shadow: rgb(192,192,192) 0px 1px 3px 0px;
}

.device_inner {
  width: 360px;
  margin: 0px auto;
}

.required-b::before {
  content: "必須";
  color: #fff;
  background-color: #ff0000a8;
  font-size: 12px;
  border-radius: 5px;
  padding: 4px;
  margin: 0 5px;
}

.required-a::after {
  content: "必須";
  color: #fff;
  background-color: #ff0000a8;
  font-size: 12px;
  border-radius: 5px;
  padding: 4px;
  margin: 0 5px;
}

div.field {
  margin-bottom: 10px;
}

.device a {
  color: #007bff !important;
}
